services:
  mysql:
    image: mysql:latest
    container_name: db_container
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root123
    volumes:
      - ./mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpadmin_container
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
    ports:
      - "8080:80"

  nginx:
    image: nginx:latest
    container_name: web_container
    restart: unless-stopped
    volumes:
      - ./nginx-html:/usr/share/nginx/html:ro
    ports:
      - "8081:80"